




body{
    padding:0;
    margin: 0;
    background: url(images/nn.PNG);
    font-family: Monospace;
}
/*search box*/
.boxcontainer{
    margin:auto;
    margin-top: 3%;
    position: relative;
    width: 400px;
    height: 43px;
    border:5px solid #047413;
    padding: 0px 10px;
    border-radius:50px;
  }
  .elementcontainer{
    width: 100%;
    height:100% ;
    vertical-align:middle;

  }
  .search{
    border:none;
    height:100%;
width: 100%;
padding:0px 5px;
border-radius: 80px;
font-size: 18px;
color: #096b00;
font-weight: 500;
  }
  .search:focus{
    outline:none;

  }
 
#main {
    background-color: #fff;
    padding:20px 0;
}


form{
    position: absolute;
    top: 300px;
    left: 43%;
    transform: translate(-40%, -50%);
    width: 1000px;
    height: 260px;
    background:url(images/s.jpg);
    border-radius: 15px;
    box-sizing: border-box}



    img[alt="piano"] {
        position: absolute;
        border-radius: 50%;
        top:13%;
        left:5%;
    }
    
    h1{
        color:rgb(0, 0, 0);
        text-align: center;
        margin-left: 120px;
        margin-top: 110px
       
    }
    p{
        color:rgb(0, 0, 0);
        text-align: center;
        size: 50;
        margin-top: 30px;
        margin-left: 150px;
        left:20%;
    }
     

    .sidenav {
    
        width: 165px; 
        position: fixed; 
        top: 90px; 
        left: 0;
        background-color: rgb(red, green, blue); 
        overflow-x: hidden; 
        padding-top: 20px;
      }
      
      
      .sidenav a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
      }
      
      .sidenav a:hover {
        color: #005e08;
      }
      
      
      .btn {
      
        border:none;
        border-radius: 5px;
        padding: 12px 20px;
        font-size: 16px;
        cursor: pointer;
        background-color: #35363ae3;
        color: white;
        position: relative;
      left:70%;
      }
      
      .ribbon {
        width: 60px;
        font-size: 14px;
        padding: 4px;
        position: absolute;
        right: -25px;
        top: -12px;
        text-align: center;
        border-radius: 25px;
        transform: rotate(20deg);
        background-color: #ff0000;
        color: white;
      }
    
    
      img {
        border-radius: 50%;
        border: 5px solid rgba(85, 85, 85, 0.719);
      }
    
      /* Style all font awesome icons */
    .fa {
      padding: 20px;
      font-size: 30px;
      width: 50px;
      text-align: center;
      border-radius: 50%;
      text-decoration: none;
    }
    
    /* Add a hover effect if you want */
    .fa:hover {
      opacity: 0.7;
    }
    
    /* Set a specific color for each brand */
    
    /*youtube*/
    .fa-youtube{
      background: #ff0000;
      color: rgb(255, 255, 255);
    }
    
    
    /* Facebook */
    .fa-facebook {
      background: #083daf;
      color: white;
    }
    
    /* Twitter */
    .fa-twitter {
      background: #55ACEE;
      color: white;
    }
    
    /* Instagram*/
    .fa-instagram{
        background: #ce0280;
        color: aliceblue;
    }
    


    .checked {
      color: orange;
    }


   
    